.App {
	max-width: 860px;
	margin: 40px auto;
}
button {
	background: none;
	border: 2px solid #fff;
	padding: 6px 12px;
	border-radius: 4px;
	font-family: 'Patua One', cursive;
	letter-spacing: 0.1em;
	font-size: 1em;
	color: #fff;
	cursor: pointer;
}
/* button:hover {
	background-color: #b8cad9;
	color: #403b31;
} */
.card-grid {
	margin: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}

/* @media (hover: hover) {
	button:hover {
		background-color: #b8cad9;
		color: #403b31;
	}
} */
