@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

/* base styles */
body {
	font-family: 'Patua One', cursive;
	margin: 0;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	text-align: center;
	background: #403b31;
	color: #fff;
}
